table {
    width: 100%;
}
table th {
    margin: 1px;
    border: 0;
}
table td {
    text-align: center;
    border: 1px solid #000;
    border-radius: 2px;
    padding: 3px;
}
table tbody tr:hover {
    background-color: #EEE;
}

.linknoformat {
    text-decoration:none;
}
.linknoformat:visited {
    color: #000;
}
label {
    display: block;
    margin-bottom: 15px;
}
.buttonformadc {
    width: 78px;
    height: 30px;
}